.homeScreenRight {
  padding-top: 15px;
  padding-bottom: 30px;
  /* transform: rotate(2deg); */
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
}

.homeScreenRight__text {
  transition: all 0.5s;
}

.homeScreenRight__text:hover {
  transform: scale(1.02);
  color: #3f51b5;
}

.homeScreenRight__name {
  font-family: 'Redressed', cursive;
  color: #3f51b5;
  transition: all 0.5s;
}

.homeScreenRight__name:hover {
  color: black;
}

.homeScreenRight__greet:hover {
  transform: rotateZ(45deg);
  color: black;
}
