.project {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  /* box-shadow: 1px 2px 3px #2187e7b3; */
}

.project__image,
.project__imageWithFeature {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.project__imageWithFeature:hover {
  cursor: pointer;
}
